/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}
$color1:#000;
$color2:#fff;
$color3:#383838;
$color4:#f26e26;
$color5:#4c4c4c;
$color6:#ba2a2a;
$color7:#333;
$color8:#e98546;



* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%
}


body{
	@include flexbox;
	flex-flow: column;
	font-display: swap;
	min-height: 100vh;
	font-family: "SegoeUIRegular", Arial;
	@include font-size(1.4);
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


/* font-family: "SegoeUIRegular"; */
@font-face {
	font-family: "SegoeUIRegular";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
	font-family: "SegoeUIBold";
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
	url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIItalic";
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIBoldItalic";
	src: url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot");
	src: url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.woff") format("woff"),
	url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


.bold{
	font-family: "SegoeUIBold";
}
.italic{
	font-family: "SegoeUIItalic";
}

.bi{
	font-family: "SegoeUIBoldItalic";
}


.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{}
a{color:#020000}
h1{font-size:6rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}


*:focus{outline:none}

input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {
   border: 1px solid $color3;
   border-radius: 0;
   margin-top: 0.6rem;
	font-size: 16px;
	&:focus,
	&:active{
		border-color: $color5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3)
	}
}


.flexbox{
	@include flexbox;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.btn{
	border: none;
	color: $color2;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	$h : 40px;
	border-radius: $h;
	height: $h;
	&-red{
		background-color: red;
	}
	&-grey{
		background-color: $color3;
	}
	&-more{
		$h: 40px;
		background-color: $color3;
		border-radius: $h;
		font-family: "SegoeUIBoldItalic";
		height: $h;
		line-height: 38px;
		min-width: 128px;
		padding-left: 22px;
		padding-right: 22px;
		text-transform: none;
	}
	&-orange{
		background-color: $color4;
	}
}

.title{
	font-size: 60px;
	font-family: "SegoeUIBoldItalic";
	font-weight: normal;
}


.flexcenter{
	display: flex;
	align-items: center;
	justify-content: center;
}



@mixin effect-bgslidefromright($x: 100%){
	opacity: 1;
	transform: translateX($x);
	transition: 1s transform ease-out, .5s opacity ease-out;
}


.bgtrigger{
	&:before{
		opacity: 0 !important;
	}
}


/* =header
---------------------------*/
.header{
	min-height: 1132px;
	color: $color2;
	display: flex;
	flex-flow: column;
	&__top{
		flex-grow: 1;
	}
	nav{
		padding-top: 4.5rem;
		font-family: "SegoeUIBoldItalic";
		color: $color2;
		text-transform: uppercase;
		ul{
			display: flex;
			li{
				margin-left: 25px;
			}
			.active{
				span{
					border-bottom: 2px dashed;
				}
			}
		}
		a{
			@include transition-param(border-bottom);
			border-bottom: 2px dashed rgba(255,255,255,0);
			color: $color2;
			text-decoration: none;
			&:hover{
				border-bottom: 2px dashed rgba(255,255,255,1);
			}
		}
	}

	.contacts{
		font-size: 15px;
		padding-top: 60px;
		p{
			padding-top: 10px;
		}

		.btn{
			margin-top: 3.4rem;
			padding: 10px 22px;
			$h : 40px;
			border-radius: $h;
			height: $h;
		}
	}

	.cats{
		color: $color2;
		padding-bottom: 185px;
		.container{
			width: 1310px;
		}
		.cat{
			&__title{
				font-size: 24px;
				text-transform: uppercase;
				font-family: "SegoeUIBoldItalic";
			}
		}
		ul{
			display: flex;
			justify-content: space-between;
		}
		li{
			position: relative;
			padding-left: 138px;
			min-height: 92px;
			z-index: 99;
			&:before{
				@extend .before;
				background-repeat: no-repeat;
				height: 92px;
				width: 122px;
				left: 0;
			}
			&.c01{
				cursor: pointer;
				&:before{
					background-image: url(../images/c01.png);
				}
			}
			&.c02{
				&:before{
					background-image: url(../images/c02.png);
				}
			}
			&.c03{
				&:before{
					background-image: url(../images/c03.png);
				}
			}
		}

		.popup{
			@include gradient-vertical(#000, #5f5f5f);
			cursor: default;
			font-size: 16px;
			left: 75px;
			min-height: 230px;
			// display: none;
			// opacity: 0;
			padding: 20px 60px;
			position: absolute;
			top: -330px;
			width: 1200px;

			.carousel{
				width: 956px;
				margin-left: auto;
				margin-right: auto;
				.owl{
					&-nav{
						margin-top: -10px;
					}
					&-item{
						text-align: center;
					}
					&-prev{
						left: -50px;
					}
					&-next{
						right: -50px;
					}
				}
			}

			#foo1{
				margin-top: 15px;
			}

			&:after{
				@extend .before;
				background: url(../images/catcorner.png) no-repeat;
				$h: 71px;
				bottom: -$h;
				height: $h;
				left: 0;
				width: 100%;
			}
			&:before{
				@extend .before;
				background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAAAuCAMAAACxgN91AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABAlBMVEX///+6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kir////K9IEFAAAAVHRSTlMAR9DuC4T2JK9I1wZz8hmg/jjMAmPrEJH7Kr9T4QmBH65E1QRy7xed/TfHYueMulHffR6rQG4UmzIBXuYM+Se3T9sIe/OmapcxxFqItkt4PM5pEpXTv3/AAAAAAWJLR0QAiAUdSAAAAAd0SU1FB+IBAxMsKzNgGbAAAAEFSURBVEjHrdbnMgNhAEbhI9GjhBUE0VaJEr1FBCHRO/d/Lb4LMLO75rwX8Pw7My9dubw46O7p/dFGWF+/ysHAoMpRGBo2ORgZLZocjI2rHNFEyeRgcmra5KA8o3IwO6dyVOb/nwl/bWFR5WBpWeWIV1ZNDtbWqyYHG5sqR7S1bXIhk1q2TEhaeUflYHdP5ajsp84kDQcHhyoHR+kyScsRH6fJJDUHJ6fJmWTg4Cwxk0wc9fOGycFFrWlycHmlcnDdUjlubtsmFzLpqFzIJKdyxHd5kwuZ3FdNDh4eVY76U8PkQibPTZMLT/1F5eC1pXIU3tomF556p2hy8P6hckSfJZODr+9fl4UzDR+7sewAAAAASUVORK5CYII=") no-repeat left top;
				right: 0;
				top: 0;
				width: 78px;
				height: 46px;
			}
			a{
				color: $color2;
			}
			p{
				@extend .italic;
			}

			&__close{
				position: absolute;
				right: 13px;
				top: 8px;
				cursor: pointer;
				transition: transform .2s;
				&:hover{
					transform: rotate(90deg);
				}
			}
		}
	}
}

/* =/header
---------------------------*/



/* =navigation
---------------------------*/

/* =/navigation
---------------------------*/

.tab-content {
	> .tab-pane {
	  display: none;
	}
	> .active {
	  display: block;
	}
}


.owl-carousel{
	.owl-nav{
		position: absolute;
		width: 100%;
		top: 50%;
		.owl-prev,
		.owl-next{
			background: url(../images/prevnext.png) no-repeat left top;
			width: 25px;
			height: 25px;
			position: absolute;
		}
		.disabled{
			opacity: .5;
		}
		.owl-prev{
			left: 0;
		}
		.owl-next{
			@include rotation(180deg);
			right: 0;
		}
	}
}

/* =main
---------------------------*/



/* =footer
---------------------------*/
footer{
	height: 40px;
	background: #FFCC00;
}
