/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}
$color1:#000;
$color2:#fff;
$color3:#383838;
$color4:#f26e26;
$color5:#4c4c4c;
$color6:#ba2a2a;
$color7:#333;
$color8:#e98546;
$color9:red;
$color10:#807474;
$color11:#ff3333;
$color12:#a6a6a6;
$color13:#808080;
$color14:#2b5a9b;
$color15:#f2f2f2;
$color16:#1c4070;
$color17:#b3b3b3;
$color18:#8c8c8c;
$color19:#a8340d;
$color20:#465994;
$color21:#4982bb;



* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%
}


body{
	@include flexbox;
	flex-flow: column;
	font-display: swap;
	min-height: 100vh;
	font-family: "SegoeUIRegular", Arial;
	@include font-size(1.4);
}

html, body{
	height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}



input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


/* font-family: "SegoeUIRegular"; */
@font-face {
	font-family: "SegoeUIRegular";
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
	src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"),
	url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "SegoeUIBold"; */
@font-face {
	font-family: "SegoeUIBold";
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
	src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"),
	url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIItalic";
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
	src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"),
	url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "SegoeUIBoldItalic";
	src: url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot");
	src: url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot?#iefix")format("embedded-opentype"),
	url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.woff") format("woff"),
	url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


.bold{
	font-family: "SegoeUIBold";
}
.italic{
	font-family: "SegoeUIItalic";
}

.bi{
	font-family: "SegoeUIBoldItalic";
}


.outerwrapper{
	-webkit-flex: 1;
	flex: 1;
}

/*** standart classes *****/
p{}
a{color:#020000}
h1{font-size:6rem; @extend .bi;}
h2{font-size:2.4rem}
h3{font-size:1.6rem}

h5{
	font-weight: normal;
}


input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control {
	border: 1px solid $color3;
	border-radius: 0;
	margin-top: 16px;
	font-size: 16px;
	&:focus,
	&:active{
		border-color: $color5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3)
	}
}


.flexbox{
	@include flexbox;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.btn{
	border: none;
	color: $color2;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	$h : 40px;
	border-radius: $h;
	padding-left: 20px;
	padding-right: 20px;
	height: $h;
	transition: background-color .3s;
	&-red{
		background-color: red;
	}
	&-grey{
		background-color: $color3;
	}
	&-lightgrey{
		background-color: $color17;
	}

	&-more{
		$h: 40px;
		background-color: $color3;
		border-radius: $h;
		font-family: "SegoeUIBoldItalic";
		height: $h;
		line-height: 38px;
		min-width: 128px;
		padding-left: 22px;
		padding-right: 22px;
		text-transform: none;
		&:hover{
			background-color: $color14;
		}
	}
	&-orange{
		background-color: $color4;
	}
	&-active{
		background-color: red;
	}
	&-hoverred{
		&:hover{
			background: red;
		}
	}
	&-hoverorange{
		&:hover{
			background-color: $color4;
		}		
	}
}

.title{
	font-size: 60px;
	font-family: "SegoeUIBoldItalic";
	font-weight: normal;
}


.flexcenter{
	display: flex;
	align-items: center;
	justify-content: center;
}



@mixin effect-bgslidefromright($x: 100%){
	opacity: 1;
	transform: translateX($x);
	transition: 1s transform ease-out, .5s opacity ease-out;
}

@mixin effect-bgslidefromleft($x: 0){
	opacity: 1;
	transform: translateX($x);
	transition: 1s transform ease-out, .5s opacity ease-out;
}

.bgtrigger{
	&:before{
		opacity: 0 !important;
	}
}

.effect{
	overflow: hidden;
	position: relative;
	&:before{
		@extend .before;
		top: 0;
	}
	&.effect-bgslidefromright{
		&:before{
			height: 1115px;		
			width: 1339px;
			right: 0;
		}
	}
	&.effect-bgslidefromleft{
		&:before{
			left: 0;
			height: 785px;
			width: 1345px;
		}
	}
	.container{
		position: relative;
		z-index: 10;
	}
}



.effect-bgslidefromright{
	&:before{
		@include effect-bgslidefromright(0);
	}
	&.bganimated{
		&:before{
			@include effect-bgslidefromright();
		}
	}
}


.effect-bgslidefromleft{
	&:before{
		@include effect-bgslidefromleft(0);
	}
	&.bganimated{
		&:before{
			@include effect-bgslidefromleft(-100%);
		}
	}
}

/* =header
---------------------------*/
.timer{
	.str1{
		font-size: 24px;
	}

	.str2{
		font-size: 36px;
		text-align: center;
	}

	.str3{
		font-size: 24px;
		padding-right: 15px;
		text-align: right;
	}

	&__text{
		display: flex;
		justify-content: space-around;
		flex-flow: column;
		@extend .bi;
		background: url(../images/timer-bg-text.png) no-repeat left top;
		height: 158px;
		padding: 10px 100px 10px 28px;
		width: 661px;
	}

	&__digit{
		#clock{
			display: flex;
			justify-content: space-between;
		}
		span{
			@extend .bold;
			align-items: center;
			background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHIAAACFCAQAAAAtQ2RXAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiAQoWNBh1aG2eAAADJElEQVR42u3da0sUYRTA8f/mNdEupHQTIykUpEChi1IokhJauvaF+kTlaimhIUqhXUChEIzCLlgZGmWKpa4+vZgeEmvXXXd2ZvbM+b0T19nn/2KUWfCcCN7KowfoZdOtC5oUXhPxNPEyLRQDvxjlicTIajo5su3rrwwwKymylFuc/ue9DG+5y4qMyA4ayE/wvTiTDOZ6ZD1tlOzymlWGmcrVyEq6qUjxtQv0MZdrkSVEOZvW1Q2vibGaO5FtXEp4FyYT5ynDuRB5nnZKM/j5FYZ4EeTIY3Rz3IXrfKaP+SBGFhKlln0uXW2LGWKsByuyhSYKXbqWtc44o0GJrKWDAy4HWj8YZMbvyHKiVGYp0JojxqJfkfnc5Jxrd2EyW7zkHnHvI5topsiDQGuNMca9jDxDJ4c9DLS+McAbLyIPEeWUxw/b25veE+N7diNvUE+eT4HWJlPcz1bkBVrZ73Og9ZMRnrsdWUUX5X6X7bBIPx/ciiwjSrVvd2EyhlliZjnzyHYu7umxyStxnpmhTCJT+fAiCFYZNkk+QEkceZIujvp9+jR8od98TCeyiB5qAnkXJmN4Ra9ZSy2ylUYK/D7xHm0wYUZ2i6zjOmV+nzRDyzww04kiK+jhhN8ndMknes3CzsgCuqjz5LHJK1tM0282/kZe5Yqnj01eWeOxeQQRaujgoN+nyaIlBiPczrk/Feky+8QnQkTSr5qENFIKjZRCI6XQSCk0UgqNlEIjpdBIKTRSCo2UQiOl0EgpNFIKjZRCI6XQSCk0UgqNlEIjpdBIKTRSCo2UQiOl0EgpNFIKjZRCI6XQSCk0UgqNlEIjpQhJZCpjUHKbyWOeKor9PkcWLdEbkv9Od4RgzoBD/MQIS/zsD0v8FBdHCObxOMRPVrLEz8iyxE87c4Rgbp1D/ARCS/wsSUv8VFBHCOa7OsRP6rXEz1x2hGB6tkP8HHRL/ER7S/xuAkcItkw4xO8LscRvfrHE7/BxhGAbk0P8Xi2rgWspbEh7yORe3yAIkRCCXXeORFsL33FHytZCh/j9k1YjzX82iY4x4c4lgxdpd8LG/v/YlK3I330wFu2ZgVwEAAAAAElFTkSuQmCC") no-repeat left top;
			display: flex;
			font-size: 60px;
			height: 133px;
			justify-content: center;
			margin-left: 20px;
			text-align: center;
			width: 114px;
		}
	}
}

nav{	
	font-family: "SegoeUIBoldItalic";
	color: $color2;
	text-transform: uppercase;

	ul{
		display: flex;
		li{
			margin-left: 25px;
			position: relative;
			.subnav{
				left: -10px;
				opacity: 0;
				padding-top: 10px;
				position: absolute;
				top: 16px;
				padding-top: 12px;
				transition: opacity .3s;
				width: 250px;
				z-index: -1;
			}

			&.nav5{
				.subnav{
					width: 190px;
				}
			}
			ul{
				border-radius: 3px;
				background-color: $color2;
				display: block;
				padding-bottom: 10px;
				padding-left: 10px;
				padding-top: 5px;
				li{
					margin-left: 0;
					padding: 4px 0;
					a{
						color: #808080;
						&:hover{
							color: $color16;
						}
					}
				}
			}
			&:hover{
				& > a{
					border-bottom: 2px dashed;						
				}
				.subnav{
					opacity: 1;
					z-index: 2;
				}
			}
		}
		.active{
			span{
				border-bottom: 2px dashed;
			}
		}
	}
	a{
		@include transition-param(border-bottom);
		border-bottom: 2px dashed rgba(255,255,255,0);
		color: $color2;
		text-decoration: none;
		&:hover{
			border-bottom: 2px dashed rgba(255,255,255,1);
		}
	}
}

.header{
	color: $color2;
	display: flex;
	flex-flow: column;
	margin: 0 auto -110px;
	min-height: 1132px;
	width: 86%;
	.logo{
		padding-top: 104px;
		width: 56%;
		&__link{
			display: block;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			width: 357px;
		}
		img{
			display: block;
		}
	}

	&__top{
		flex-grow: 1;
	}

	nav{
		padding-top: 4.5rem;
		position: relative;
		z-index: 50;
	}


	.timer{
		margin-bottom: 90px;
	}

	.contacts{
		font-size: 15px;
		padding-top: 60px;
		p{
			padding-top: 10px;
		}

		a{
			color: $color2;
			@extend .tdn;
		}

		.btn{
			$h : 40px;
			@extend .bold;
			border-radius: $h;
			font-weight: normal;
			height: $h;
			margin-top: 3.4rem;
			padding: 8px 22px 10px;
		}
	}

	.cats{
		color: $color2;
		padding-bottom: 185px;
		margin-bottom: 50px;
		.container{
			width: 1310px;
		}
		.cat{
			&__title{
				font-size: 24px;
				text-transform: uppercase;
				font-family: "SegoeUIBoldItalic";
			}
		}
		ul{
			display: flex;
			justify-content: space-between;
		}
		li{
			position: relative;
			padding-left: 138px;
			min-height: 92px;
			z-index: 99;
			&:before{
				@extend .before;
				background-repeat: no-repeat;
				height: 92px;
				width: 122px;
				left: 0;
			}
			&.c01{
				cursor: pointer;
				&:before{
					background-image: url(../images/c01.png);
				}
			}
			&.c02{
				&:before{
					background-image: url(../images/c02.png);
				}
			}
			&.c03{
				&:before{
					background-image: url(../images/c03.png);
				}
			}
		}

		.popup{
			@include gradient-vertical(#000, #5f5f5f);
			cursor: default;
			font-size: 16px;
			left: 75px;
			min-height: 230px;
			// display: none;
			// opacity: 0;
			padding: 20px 60px;
			position: absolute;
			top: -330px;
			width: 1200px;

			.carousel{
				width: 956px;
				margin-left: auto;
				margin-right: auto;
				.owl{
					&-nav{
						margin-top: -10px;
					}
					&-item{
						text-align: center;
					}
					&-prev{
						left: -50px;
					}
					&-next{
						right: -50px;
					}
				}
			}

			#foo1{
				margin-top: 15px;
			}

			&:after{
				@extend .before;
				background: url(../images/catcorner.png) no-repeat;
				$h: 71px;
				bottom: -$h;
				height: $h;
				left: 0;
				width: 100%;
			}
			&:before{
				@extend .before;
				background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAAAuCAMAAACxgN91AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABAlBMVEX///+6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kiq6Kir////K9IEFAAAAVHRSTlMAR9DuC4T2JK9I1wZz8hmg/jjMAmPrEJH7Kr9T4QmBH65E1QRy7xed/TfHYueMulHffR6rQG4UmzIBXuYM+Se3T9sIe/OmapcxxFqItkt4PM5pEpXTv3/AAAAAAWJLR0QAiAUdSAAAAAd0SU1FB+IBAxMsKzNgGbAAAAEFSURBVEjHrdbnMgNhAEbhI9GjhBUE0VaJEr1FBCHRO/d/Lb4LMLO75rwX8Pw7My9dubw46O7p/dFGWF+/ysHAoMpRGBo2ORgZLZocjI2rHNFEyeRgcmra5KA8o3IwO6dyVOb/nwl/bWFR5WBpWeWIV1ZNDtbWqyYHG5sqR7S1bXIhk1q2TEhaeUflYHdP5ajsp84kDQcHhyoHR+kyScsRH6fJJDUHJ6fJmWTg4Cwxk0wc9fOGycFFrWlycHmlcnDdUjlubtsmFzLpqFzIJKdyxHd5kwuZ3FdNDh4eVY76U8PkQibPTZMLT/1F5eC1pXIU3tomF556p2hy8P6hckSfJZODr+9fl4UzDR+7sewAAAAASUVORK5CYII=") no-repeat left top;
				right: 0;
				top: 0;
				width: 78px;
				height: 46px;
			}
			a{
				color: $color2;
			}
			p{
				@extend .italic;
			}

			&__close{
				position: absolute;
				right: 13px;
				top: 8px;
				cursor: pointer;
				transition: transform .2s;
				&:hover{
					transform: rotate(90deg);
				}
			}
		}
	}
}

.fixed-header{
	background: url(../images/bg-2.jpg) no-repeat center center / cover;
	border-bottom: 1px solid $color2;
	box-shadow: 0 15px 40px #818181;
	position: fixed;
	top: 0;
	width: 100%;
	transform: translateY(-140%);
	z-index: 999;
	transition: transform .8s;

	.flexbox{
		height: 145px;
		justify-content: space-between;
		align-items: center;
	}

	.logo{
		a{
			align-items: center;
			display: flex;
			text-decoration: none;
		}
		img{
			vertical-align: top;
		}
	}

	.mainnav{
		border: 1px solid $color2;
		padding: 20px 25px 20px 0;
		nav{
			ul li{
				.subnav{
					top: 30px;
				}
			}
		}
	}

	.contacts{
		text-align: center;
		a{
			display: inline-block;
			color: $color2;
			text-decoration: none;
		}
		.tel{
			@extend .bold;
			font-size: 22px;
			margin-bottom: 12px;
		}
		.email{
			font-size: 17px;
			margin-bottom: 12px;
		}
		
		.btn{
			@extend .bold;
			padding-left: 25px;
			padding-right: 25px;
		}
	}

	&.sticky{
		transform: translateY(0);
	}
}

/* =/header
---------------------------*/



/* =navigation
---------------------------*/

/* =/navigation
---------------------------*/

.tab-content {
	> .tab-pane {
	  display: none;
	}
	> .active {
	  display: block;
	}
}


.owl-carousel{
	.owl-nav{
		position: absolute;
		width: 100%;
		top: 50%;
		.owl-prev,
		.owl-next{
			background: url(../images/prevnext.png) no-repeat left top;
			width: 25px;
			height: 25px;
			position: absolute;
		}
		.disabled{
			opacity: .5;
		}
		.owl-prev{
			left: 0;
		}
		.owl-next{
			@include rotation(180deg);
			right: 0;
		}
	}
}

/* =main
---------------------------*/



/* =footer
---------------------------*/
footer{
	background: url(../images/footer-bg.jpg) no-repeat center bottom /cover;
	position: relative;
	padding-top: 185px;
	height: 580px;
}

.footer{
	&-container{
		margin-left: auto;
		margin-right: auto;
		width: 1400px;
		display: flex;
		flex-flow: column;
		height: 100%;
	}

	&__top{
		display: flex;
		flex-grow: 1;
		padding-top: 40px;
		margin-bottom: 60px;
		align-items: flex-end;
	}

	&__bottom{
		@extend .italic;
		align-items: flex-end;
		display: flex;
		font-size: 14px;
		justify-content: space-between;
		padding-bottom: 20px;
	}

	&__contacts{
		background-color: $color2;
		color: $color5;
		height: 185px;
		padding: 12px 16px;
		width: 365px;
		h5{
			color: $color1;
			font-size: 14px;
			@extend .bold;
		}
		p{
			padding-top: 7px;
		}
		.column{
			padding-top: 22px;
			flex-basis: 50%;
			a{
				color: currentColor;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	&__logo{
		align-items: center;
		background: rgba(255,255,255,.8);
		display: flex;
		height: 60px;
		padding-left: 27px;
		padding-right: 50px;
		position: relative;
		text-align: center;
		&:after{
			@extend .before;
			background: url(../images/logo-small.png);
			height: 121px;
			right: -70px;
			top: -30px;
			width: 107px;
			z-index: 2;
		}
	}


	&__social{
		@include gradient-horizontal(#fff, rgba(255, 255,255, 0));
		flex-grow: 1;
		height: 60px;
		&_inner{
			@include gradient-horizontal(#fff, rgba(255, 255,255, 0));
			margin-top: 3px;
			position: relative;
			z-index: 0;
			$l: 95px;
			p{
				@extend .bold;
				font-size: 16px;
				left: $l;
				position: absolute;
				top: -30px;
				z-index: 0;
			}
			.icons{
				align-items: center;
				height: 54px;
				margin-left: $l;
				a{
					margin-right: 4px;
					opacity: .55;
					@include transition-param();
					&:hover{
						opacity: 1;
					}
				}
				img{
					vertical-align: top;
				}
			}
		}
	}

	.copyright{
		color: $color5;
	}
	.kreotif{
		color: $color2;
		padding-right: 100px;
		a{
			color: currentColor;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
/* =footer
---------------------------*/



/* =share
---------------------------*/
.share{
	@extend .italic;
	color: $color13;
	font-size: 18px;
	margin-top: 25px;
	.container{
		padding-top: 20px;
		border: 1px solid transparent;
		border-width: 1px 0 0;
		-webkit-border-image: -webkit-linear-gradient(right, #fdfefe 0%, #8fd0bb 50%,  #fdfefe 100%);
		border-image: linear-gradient(to right, #fdfefe 0%, #8fd0bb 50%,  #fdfefe 100%);
		border-image-slice: 1;
	}
	p{
		padding-bottom: 18px;
	}
}
/* =/share
---------------------------*/


.subscribe{
	background: #66bb6a;
	left: 50%;
	margin-left: -50px;
	padding: 40px 70px 50px;
	position: absolute;
	top: 110px;
	width: 670px;
	p{
		@extend .bold;
		color: $color2;
	}
	form{
		margin-top: 10px;
	}
	.flexbox{
		align-items: flex-end;
	}
	input{
		&.form-control{
			@extend .italic;
			background: #f5f5f5;
			border: none;
			flex-grow: 1;
			font-size: 14px;
			height: 40px;
			margin-right: 15px;
			padding: 0 10px;
		}
		&[type="submit"]{
			@extend .italic;
			background: #43a047;
			border: none;
			color: $color2;
			cursor: pointer;
			height: 40px;
			width: 160px;
			transition: filter .3s;
			@include transition-param(background-color);
			&:hover{
				background-color: $color3;
			}
		}
	}
}



#inline-order{
	$w: 114px;
	$h: 198px;
	@extend .bi;
	align-items: flex-end;
	background: url(../images/online.png) no-repeat left top;
	border: none;
	color: $color2;
	display: flex;
	font-size: 18px;
	justify-content: center;
	left: 3px;
	padding-bottom: 32px;
	position: fixed;
	text-align: center;
	text-decoration: none;
	top: 20%;
	width: $w;
	height: $h;
	transition: filter .3s;
	span{
		position: relative;
		z-index: 2;
	}
	&:after{
		@extend .before;
		background: url(../images/online.png) no-repeat left bottom;
		width: $w;
		height: $h;
		@include transition-param;
		left: 0;
		opacity: 0;
		top: 0;
		z-index: 1;
	}
	&:hover{
		&:after{
			opacity: 1;
		}
	}
}



label.error{
	display: none !important;
}

.form-control.error{
	border-color: red !important;
}


.visually-hidden{
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
}