.brands{
	.flexbox{
		flex-wrap: wrap;
	}
	&__cell{
		background: url(../images/brand-bg.png) no-repeat left top;
		height: 265px;
		width: 25%;
		text-align: center;
		display: flex;
		align-items: center;
		a{
			display: flex;
			justify-content: center;
			width: 229px;
		}
	}
}