.card{
	header{
		flex-flow: row;
		.title{
			display: inline-block;
			position: relative;
			top: -7px;
		}
		.title + .selectric-wrapper {
			display: inline-block;
			margin-left: 5px;
			.selectric{
				border: none;
				background: none;
				.label{
					color: red;
					font-size: 60px;
					background: none;
				}
				.button{
					display: none;
				}

				.label{
					@extend .bi;
					border-bottom: 4px dashed;
					height: auto;
					line-height: 1.2;
					position: relative;
					text-transform: uppercase;
				}
			}
		}
	}


	.main__body{
		.selectric-items{
			@extend .bi;
			margin-top: 10px;
			background: #b4b4b4;
			border-radius: 15px;
			text-align: center;
			ul{
				padding: 5px 10px;  
			}
			li{
				color: $color2;
				border-radius: 20px;
				font-size: 17px;
				padding: 6px 0;
				margin: 2px 0;
				transition: background .3s;
				&.selected,
				&:hover{
					background: #818181;
				}
			}
		}
	}

	.nav{
		&-tabs{
			justify-content: center;
		}
		.btn{
			margin-left: 20px;
			width: 213px;
			padding-top: 0;
			line-height: 38px;
			height: 40px;
		}
		.submit{

		}
		.active{
			background-color: #4d4d4d;
		}
	}
	.tab-content{
		color: #4c4c4c;
		margin-top: 40px;
		h3{
			@extend .bold;
			font-size: 14px;
			font-weight: normal;
		}
		p{
			margin: 8px 0;
		}
	}

	.order{
		&__top{
			color: $color1;			
		}
		.title{
			padding-top: 0;
		}
	}


	.table{
		color: $color1;
		th{
			font-weight: normal;
			text-align: left;
			@extend .bi;
		}
		a[data-toggle]{
			display: inline-block;
			img{vertical-align: top;}			
		}
	}
}