.pricelist-table.effect{
	padding-top: 840px;
	&:before{
		background: url(../images/divider_3.png) no-repeat right top;
	}

	.title{
		margin-bottom: 45px;
	}
}

.catalog__list{
	margin-top: -40px;
	.products{
		&__inner{
			margin-bottom: 5px;
		}

		&__width{
			margin-top: 97px;
		}
		&__title{
			@extend .italic;
			background-color: rgba(0,0,0,.5);
			color: $color2;
			font-size: 18px;
			height: 86px;
			text-transform: none;
			top: 50%;
			margin-top: -43px;
			width: calc(100% - 40px)
		}
		&__link{
			&:hover{
				.triangle{
					opacity: 1;
				}
			}
		}
	}

	.triangle{
		position: absolute;
		right: 36px;
		bottom: 36px;
		opacity: .5;
		@include transition-param;
	}
}

.paraminfo.effect{
	padding-top: 690px;
	&:before{
		background: url(../images/divider_6.png) no-repeat left top;
	}

}

.catalog{
	.title{
		color: $color1;
	}
}

.paraminfo{
	.title{
		color: $color1;
		margin-bottom: 35px;
	}

	.nav-tabs{
		margin-bottom: 30px;
		li{
			margin: 0 9px;
		}
	}

	.tab-content{
		color: $color5;
		line-height: 1.5;
		p{
			margin: 15px 0;
		}
	}
}