.homepage{
	background: url(../images/bg.jpg) no-repeat center top / contain;

	.articles{
		padding-top: 900px;
		&:before{
			background: url(../images/divider_3.png) no-repeat right top;
		}
	}

	.brands{
		margin-top: -40px;
		&:before{
			background: url(../images/divider_4.png) no-repeat right top;
		}
	}

	.reviews{
		margin-top: -130px;
		padding-top: 800px;
		&:before{
			background: url(../images/divider_5.png) no-repeat right top;
		}
	}

	.address{
		&:before{
			background: url(../images/divider_6.png) no-repeat right top;
		}
	}	
}


/* =advantages
---------------------------*/
.advantages{
	font-family: "SegoeUIBoldItalic";
	font-size: 24px;
	padding-left: 30px;
	text-align: center;
	width: 515px;
	.svg{
		margin-top: 25px;
	}
}

/* =/advantages
---------------------------*/


/* =intro
---------------------------*/
.intro{
	margin-top: -250px;
	padding-top: 750px;
	// margin-bottom: 100px;
	position: relative;
	overflow: hidden;
	&:before{
		background: url(../images/divider_1.png) no-repeat right top;
	}
	.btn{
		display: inline-block;
		$h: 40px;
		height: $h;
		font-family: "SegoeUIBoldItalic";
		border-radius: $h;
		line-height: 38px;
		margin-right: 14px;
		min-width: 128px;
		padding-left: 22px;
		padding-right: 22px;
		text-transform: none;
	}

	&__body{
		position: relative;
	}

	&__nav{
		margin-top: 20px;
		li{
			display: inline-block;
		}
	}

	.tab-content{
		color: $color5;
		margin-top: 35px;
		width: 635px;
	}
	.tab-pane{
		margin-top: 10px;
		.btn{
			margin-top: 35px;
			&-more{
				margin-right: 35px;
			}
		}
	}
}
/* =/intro
---------------------------*/


/* =products
---------------------------*/
.products{
	padding-top: 580px;
	&:before{
		background: url(../images/divider_2.png) no-repeat left top;
	}
	.title{
		margin-bottom: 85px;
		padding-right: 20px;
	}
	.flexbox{
		flex-wrap: wrap;
	}
	&__col{
		width: 33.3%;
	}
	&__cell{
		width: 368px;
	}

	&__head{
		background-repeat: no-repeat;
	}
	&__title{
		@extend .bold;
		@extend .flexcenter;
		color: $color2;
		font-size: 27px;
		font-weight: normal;
		height: 378px;
		text-transform: uppercase;
		width: calc(100% - 42px);
		text-align: center;
	}
	&__text{
		margin-top: 20px;
		margin-bottom: 22px;
		@extend .italic;
	}
}
/* =/products
---------------------------*/


/* =brands
---------------------------*/
.brands{
	padding-top: 530px;
	.text{
		color: $color5;
		margin: 50px 0;
	}
	.flexbox{
		margin-bottom: 100px;
	}
	
}
/* =/brands
---------------------------*/

/* =reviews
---------------------------*/
.reviews{
	padding-top: 530px;
	.flexbox{
		align-items: center;
	}
	.btn{
		@extend .bi;
		padding-left: 30px;
		padding-right: 30px;
		text-transform: none;
		margin-left: 45px;
		margin-top: 7px;
	}
	.flexbox{
		margin-bottom: 60px;
	}
}
/* =/reviews
---------------------------*/



/* =address
---------------------------*/
.address{
	padding-top: 680px;
	.flexbox{
		justify-content: center;
		margin-top: 40px;
	}
	.btn{
		@extend .bi;
		margin: 0 8px;
		padding: 0 17px;
	}
	&__panel{
		$w: 275px;
		background: rgba(26, 26, 26, .53);
		color: $color2;
		left: 50%;
		margin-left: -510px;
		padding: 15px 22px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: $w;
		z-index: 1;
		h5{
			@extend .bold;
			font-size: 14px;
			font-weight: normal;
		}
	}
}
.map-wrapper{
	position: relative;
	height: 465px;
	margin-top: 40px;
}

#map{
	height: 465px;
}
/* =/address
---------------------------*/
