.homepage{
	background: url(../images/bg.jpg) no-repeat center top / contain;

	.articles{
		padding-top: 900px;
		&:before{
			background: url(../images/divider_3.png) no-repeat right top;
		}
	}

	.brands{
		margin-top: -40px;
		&:before{
			background: url(../images/divider_4.png) no-repeat right top;
		}
	}

	.reviews{
		margin-top: -130px;
		padding-top: 800px;
		&:before{
			background: url(../images/divider_5.png) no-repeat right top;
		}
	}

	.address{
		&:before{
			background: url(../images/divider_6.png) no-repeat right top;
		}
	}	
}


.tooltip__cat{
	@extend .bold;
	font-size: 16px;
	background-color: red;
	border-radius: 25px;
	bottom: 0;
	display: block;
	line-height: 38px;
	height: 41px;
	padding: 0 20px;
	position: absolute;
	white-space: nowrap;
	z-index: 999 !important;
	color: $color2;	
	text-align: center;
	text-transform: uppercase;

	.tooltip-inner{
		padding-right: 0;
	}
}
/* =advantages
---------------------------*/
.advantages{
	font-family: "SegoeUIBoldItalic";
	font-size: 24px;
	padding-left: 30px;
	text-align: center;
	width: 515px;
	position: relative;
	z-index: 999;
	.svg{
		@include transition-param;
		opacity: .5;
		margin-top: 25px;
	}
	a{
		text-decoration: none;
		&:hover .svg{
			opacity: 1;
		}
	}
}

/* =/advantages
---------------------------*/


/* =intro
---------------------------*/
.intro{
	margin-top: -250px;
	overflow: hidden;
	padding-top: 750px;
	position: relative;
	&:before{
		background: url(../images/divider_1.png) no-repeat right top;
	}
	.btn{
		display: inline-block;
		$h: 40px;
		border-radius: $h;
		font-family: "SegoeUIBoldItalic";
		height: $h;
		line-height: 38px;
		margin-right: 14px;
		min-width: 128px;
		padding-left: 22px;
		padding-right: 22px;
		padding-top: 0;
		text-transform: none;
		&.active{
			background-color: $color4;
		}
	}

	&__body{
		position: relative;
	}

	&__nav{
		margin-top: 20px;
		justify-content: flex-start !important;
		li{
			display: inline-block;

		}
	}

	.tab-content{
		color: $color5;
		margin-top: 35px;
		width: 635px;
	}
	.tab-pane{
		margin-top: 10px;
		.btn{
			margin-top: 35px;
			&-more{
				margin-right: 35px;
			}
		}
	}
}
/* =/intro
---------------------------*/


/* =products
---------------------------*/
.products{
	&.effect{
		padding-top: 580px;		
	}
	&:before{
		background: url(../images/divider_2.png) no-repeat left top;
	}
	.title{
		margin-bottom: 85px;
		padding-right: 20px;
	}
	.flexbox{
		flex-wrap: wrap;
	}
	&__width{
		width: 33.3%;
	}
	&__cell{
		width: 368px;
	}
	&__inner{
		position: relative;
		.shape{
			background: url(../images/shape.png) no-repeat left top;
			bottom: 13px;
			color: $color2;
			text-decoration: none;
			display: block;
			height: 110px;
			position: absolute;
			right: 93px;
			width: 95px;
			text-align: center;
			display: flex;
			@extend .flexcenter;
			@extend .italic;
			z-index: 99;

			svg{
				margin-left: 10px;
				opacity: .5;
				@include transition-param;
			}
		}
		&:hover{
			img{
				filter: grayscale(0)
			}
			svg{
				opacity: 1;
			}
		}		
	}

	&__link{
		display: block;

		&:before,
		&:after{
			@extend .before;
			z-index: -1;
		}

		&:before{
			background: url(../images/shape-bg1.png) no-repeat left top;
			height: 83px;
			left: 58px;
			top: 0;
			width: 72px;
		}

		&:after{
			background: url(../images/shape-bg2.png) no-repeat left top;
			height: 178px;
			right: 0;
			bottom: 0;
			width: 157px;
		}

		img{
			@include transition-param(filter);
			filter: grayscale(1);
		}
	}



	&__title{
		@extend .bold;
		@extend .flexcenter;
		color: $color2;
		font-size: 27px;
		font-weight: normal;
		position: absolute;
		height: 378px;
		z-index: 1;
		top: 0;
		left: 0;
		text-transform: uppercase;
		width: calc(100% - 42px);
		text-align: center;
	}
	&__text{
		margin-top: 20px;
		margin-bottom: 22px;
		@extend .italic;
	}

	&__colors{
		padding-left: 4px;
		padding-top: 5px;
		opacity: 0;
		z-index: -1;
		@include transition-param;
		&:before{
			@extend .before;
			background: url(../images/color-popup.png) no-repeat left top;
			height: 28px;
			width: 368px;
			left: 0;
			top: -28px;
		}		

		background: #a8a8a8;
		@include gradient-vertical(#c0c0c0, #858585);

		border-radius: 0 0 4px 4px;
		top: calc(100% - 9px);
		padding-bottom: 6px;
		position: absolute;
		right: 1px;
		width: 368px;
		.flexbox{
			flex-wrap: wrap;
		}
		img{
			border-radius: 3px;
			margin: 6px 10px;
			vertical-align: top;
		}

	}
	.shape-link:hover + .products__colors{
		opacity: 1;
		z-index: 999;
	}

	.products__colors:hover{
		opacity: 1;
		z-index: 999;
	}
}
/* =/products
---------------------------*/


/* =brands
---------------------------*/
.brands{
	padding-top: 530px;
	.text{
		color: $color5;
		margin: 50px 0;
	}
	.flexbox{
		margin-bottom: 100px;
	}
	
}
/* =/brands
---------------------------*/



/* =address
---------------------------*/
.address{
	padding-top: 680px;
	.flexbox{
		justify-content: center;
		margin-top: 40px;
	}
	.btn{
		@extend .bi;
		margin: 0 8px;
		padding: 0 17px;
		line-height: 40px;
		min-width: 215px;
	}
	&__panel{
		$w: 275px;
		background: rgba(26, 26, 26, .53);
		color: $color2;
		left: 50%;
		margin-left: -510px;
		padding: 15px 22px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: $w;
		z-index: 1;
		h5{
			@extend .bold;
			font-size: 14px;
			font-weight: normal;
		}
	}
}
.map-wrapper{
	position: relative;
	height: 465px;
	margin-top: 40px;
}

#map{
	height: 465px;
}
/* =/address
---------------------------*/
