.homepage{
	background: url(../images/bg.jpg) no-repeat center top / contain;
	// min-height: 1132px;

	.header{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -110px;
		width: 86%;
		.logo{
			padding-top: 104px;
			width: 56%;
			&__link{
				display: block;
				width: 357px;
				text-align: center;
				margin-left: auto;
				margin-right: auto;		
			}
			img{
				display: block;
			}
		}
	}
}


/* =advantages
---------------------------*/
.advantages{
	font-family: "SegoeUIBoldItalic";
	font-size: 24px;
	padding-left: 30px;
	text-align: center;
	width: 515px;
	.svg{
		margin-top: 25px;
	}
}

/* =/advantages
---------------------------*/



/* =intro
---------------------------*/
.intro{
	margin-top: -250px;
	padding-top: 750px;
	margin-bottom: 100px;
	position: relative;
	overflow: hidden;
	&:before{
		@extend .before;
		background: url(../images/divider_1.png) no-repeat right top;
		right: 0;
		top: 0;
		width: 1339px;
		height: 1115px;
	}
	.btn{
		display: inline-block;
		$h: 40px;
		height: $h;
		font-family: "SegoeUIBoldItalic";
		border-radius: $h;
		line-height: 38px;
		margin-right: 14px;
		min-width: 128px;
		padding-left: 22px;
		padding-right: 22px;
		text-transform: none;
	}

	&__nav{
		margin-top: 20px;
		li{
			display: inline-block;
		}
	}

	.tab-content{
		color: $color5;
		margin-top: 35px;
		width: 635px;
	}
	.tab-pane{
		margin-top: 10px;
		.btn{
			margin-top: 35px;
			&-more{
				margin-right: 35px;
			}
		}
	}

	&.effect-bgslidefromright{
		&:before{
			@include effect-bgslidefromright(0);
		}
		&.bganimated{
			&:before{
				@include effect-bgslidefromright();				
			}
		}
	}
}
/* =/intro
---------------------------*/



/* =products
---------------------------*/
.products{
	.title{
		margin-bottom: 85px;
		padding-right: 20px;
	}
	.flexbox{
		flex-wrap: wrap;
	}
	&__col{
		width: 33.3%;
	}
	&__cell{
		width: 368px;
	}

	&__head{
		background-repeat: no-repeat;
	}
	&__title{
		@extend .bold;
		@extend .flexcenter;
		color: $color2;
		font-size: 27px;
		font-weight: normal;
		height: 378px;
		text-transform: uppercase;
		width: calc(100% - 40px);
		text-align: center;
	}
	&__text{
		margin-top: 20px;
		margin-bottom: 22px;
		@extend .italic;
	}
}
/* =/products
---------------------------*/