.inner{
	background: url(../images/bg-3.jpg) no-repeat center top / contain;
	.header{
		min-height: 668px;
		.logo{
			padding-top: 35px;
			position: relative;
			z-index: 2;
		}
	}

	main,
	.text{
		h2{
			@extend .bi;
			font-size: 30px;
			font-weight: normal;
			margin: 20px 0;
		}

		h3, h4{
			font-weight: normal;
			@extend .bold;
		}

		h4{

		}

		strong{
			@extend .bold;			
		}

		em{
			@extend .italic;
		}

		p{
			margin: 5px 0;
		}

		ul{
			li{
				position: relative;
				padding-left: 10px;
				margin: 5px 0;
				&:before{
					@extend .before;
					content: "•";
					left: 0;
					top: 0;
				}
			}
		}

		.owl-carousel{
			margin: 40px auto;
			width: 955px;
			.owl-item{
				text-align: center;
			}


			.owl{
				&-nav{
					margin-top: -12px;					
				}
				&-next, 
				&-prev{
					background: url(../images/prevnext-2.png) no-repeat;
					@include transition-param;
					&:hover{
						opacity: 1;
					}
				}
				$x: 50px;
				&-next{
					right: -$x;
				}
				&-prev{
					left: -$x;
				}
			}


			a{
				display: inline-block;
				position: relative;
				&:after{
					@extend .before;
					background: url(../images/overlay-owl.png) no-repeat left top;
					height: 133px;
					width: 114px;
					left: 0;
					top: 0;
					opacity: 0;
					transition: opacity .3s;
				}
				&:hover{
					&:after{
						opacity: 1;
					}
				}
			}
		}
	}
	.text{
		color: $color5;
		p{
			margin: 5px 0;
		}
	}
}


/* =neck
---------------------------*/
.neck{
	background: url(../images/neck-1.png) no-repeat left top;
	align-items: center;
	display: flex;
	height: 700px;
	left: 0;
	padding-left: 130px;
	position: absolute;
	top: 60px;
	width: 100%;
	.title{
		@extend .bi;
		font-size: 48px;
	}
	.btn{
		@extend .bold;
		margin-top: 28px;
	}

	.title,
	.breadcrumbs,
	.btn{
		position: relative;
		z-index: 3;		
	}
}
/* =/neck
---------------------------*/


/* =breadcrumbs
---------------------------*/
.breadcrumbs{
	@extend .bi;
	font-size: 18px;
	margin-top: 5px;
	padding-left: 34px;
	text-transform: uppercase;
	ul{
		display: flex;
		li{
			margin: 0 4px;
		}
	}
	a{
		color: $color2;
		text-decoration: none;
	}
}
/* =/breadcrumbs
---------------------------*/


.header-right{	
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex-flow: column;
	margin-bottom: -8px;
	text-align: right;
	.btn{
		margin-top: 18px;
		@extend .bi;
		padding-left: 30px;
		padding-right: 30px;
	}
	.title{
		color: $color7;
		line-height: 1.1;
	}
}


.main{
	margin-top: 220px;
	main{
		color: $color5;
		h1{
			color: #333;
			margin-bottom: 40px;
		}
	}

	// page
	&__body{
		padding-top: 0;
		margin-top: -217px;
		position: relative;
		.btn-group{
			margin-bottom: 40px;
		}
		main{
			margin-top: 40px;
		}
	}
}


.nav-tabs{
	display: flex;
	justify-content: flex-end;
	li{
		a{
			@extend .bi;
			color: $color2;
			text-decoration: none;
			padding-top: 6px;
			&.active{
				background-color: red;
			}
		}
	}
}


.collapse {
	display: none;
	&.show{
		display: block;
	}
}



/* =pagination
---------------------------*/
.pagination{
	margin-top: -10px;
	margin-bottom: 41px;
	ul{
		display: flex;
		justify-content: center;
		font-size: 18px;
		@extend .bi;
		text-align: center;
		align-items: center;
		li{
			margin: 0 5px;
		}
	}
	a{
		background-color: $color20;
		transition: background-color .3s;
		text-decoration: none;
		&:hover{
			background-color: $color21;
		}
	}
	span{
		background-color: $color21;
	}
	a, span{
		border-radius: 2px;
		width: 30px;
		height: 30px;
		color: $color2;
		@extend .flexcenter;
	}
}
/* =/pagination
---------------------------*/



.insert{
	background: url(../images/insert-bg.jpg) no-repeat center top /cover  #d68c35;
	margin: 45px 0;
	padding: 42px 0;
	.box{
		@extend .bold;
		border: 4px solid $color2;
		color: $color2;
		display: flex;
		flex-flow: column;
		font-size: 18px;
		height: 130px;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		padding-right: 24px;
		width: 1130px;
		p{
			line-height: 1.5;
		}
	}
	&-type1{
		.box{
			background: url(../images/car.png) no-repeat 115px center; 
			padding-left: 350px;
		}		
	}
}


/* fluid 5 columns */
.grid-sizer,
.grid-item {
  width: 25%;
}

 .grid-item--width2{
 	width: 50%;
 }

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}






.table-bordered {
	border-collapse: collapse;
	border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
  padding: 5px 10px;
}

.table-bordered thead th,
.table-bordered thead td {
  // border-bottom-width: 2px;
}
