.inner{
	background: url(../images/bg-3.jpg) no-repeat center top / contain;
	.header{
		min-height: 668px;
		.logo{
			padding-top: 35px;
			position: relative;
			z-index: 100;
		}
	}

	main{
		p{
			margin: 5px 0;
		}
	}
	.text{
		color: $color5;
		p{
			margin: 5px 0;
		}
	}
}


/* =neck
---------------------------*/
.neck{
	background: url(../images/neck-1.png) no-repeat left top;
	align-items: center;
	display: flex;
	height: 700px;
	left: 0;
	padding-left: 130px;
	position: absolute;
	top: 60px;
	width: 100%;
	.title{
		@extend .bi;
		font-size: 48px;
	}
	.btn{
		@extend .bold;
		margin-top: 28px;
	}
}
/* =/neck
---------------------------*/


/* =breadcrumbs
---------------------------*/
.breadcrumbs{
	@extend .bi;
	font-size: 18px;
	margin-top: 5px;
	padding-left: 34px;
	text-transform: uppercase;
	ul{
		display: flex;
		li{
			margin: 0 4px;
		}
	}
	a{
		color: $color2;
		text-decoration: none;
	}
}
/* =/breadcrumbs
---------------------------*/


.header-right{	
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex-flow: column;
	margin-bottom: -8px;
	.btn{
		margin-top: 18px;
		@extend .bi;
		padding-left: 30px;
		padding-right: 30px;
	}
	.title{
		color: $color7;
	}
}


.main{
	margin-top: 220px;
	main{
		color: $color5;
		h1{
			color: #333;
			margin-bottom: 40px;
		}
	}

	// page
	&__body{
		padding-top: 0;
		margin-top: -217px;
		position: relative;
		.btn-group{
			margin-bottom: 40px;
		}
		main{
			margin-top: 40px;
		}
	}
}


.nav-tabs{
	display: flex;
	justify-content: flex-end;
	li{
		a{
			@extend .bi;
			color: $color2;
			text-decoration: none;
			padding-top: 6px;
			&.active{
				background-color: red;
			}
		}
	}
}


.collapse {
	display: none;
	&.show{
		display: block;
	}
}



/* =pagination
---------------------------*/
.pagination{
	margin-top: -10px;
	margin-bottom: 41px;
	ul{
		display: flex;
		justify-content: center;
		font-size: 18px;
		@extend .bi;
		text-align: center;
		align-items: center;
		li{
			margin: 0 5px;
		}
	}
	a{
		background-color: $color20;
		transition: background-color .3s;
		text-decoration: none;
		&:hover{
			background-color: $color21;
		}
	}
	span{
		background-color: $color21;
	}
	a, span{
		border-radius: 2px;
		width: 30px;
		height: 30px;
		color: $color2;
		@extend .flexcenter;
	}
}
/* =/pagination
---------------------------*/



.insert{
	background: url(../images/insert-bg.jpg) no-repeat center top /cover  #d68c35;
	margin: 45px 0;
	padding: 42px 0;
	.box{
		background: url(../images/car.png) no-repeat 115px center; 
		@extend .bold;
		border: 4px solid $color2;
		color: $color2;
		display: flex;
		flex-flow: column;
		font-size: 18px;
		height: 130px;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		padding-left: 350px;
		padding-right: 24px;
		width: 1130px;
		p{
			line-height: 1.5;
		}
	}
}



/* fluid 5 columns */
.grid-sizer,
.grid-item {
  width: 25%;
}

 .grid-item--width2{
 	width: 50%;
 }

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}



