// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and stuff


// Kill the scroll on the body
.modal-open {
  overflow: hidden;
}

// Container that the modal scrolls within
.modal {
  position: fixed;
  top: 16%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: none;
  overflow: hidden;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695

  // When fading in the modal, animate it to slide down
  &.fade .modal-dialog {
  	transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    transform: translate(0, -25%);
  }
  &.show .modal-dialog { transform: translate(0, 0); }
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

// Shell div to position the modal with bottom padding
.modal-dialog {
	background-color: #fff;
	position: relative;
  width: auto;
  // margin: 10px;
  top: 0;
  padding-top: 40px;
  padding-bottom: 40px;
	.container{
		position: relative;
	}

	.close-modal{
		top: -55px;
	}

	.title{
		font-size: 30px;
		@extend .bold;
		text-transform: uppercase;
		padding-bottom: 1rem;
		text-align: center;
	}
}

// Actual modal
.modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	outline: 0;
}

// Modal background
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1071;
	background-color: #000;

	// Fade for backdrop
	&.fade { opacity: 0; }
	&.show { opacity: .5 !important }
}




// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body {
  position: relative;
  flex: 1 1 auto;
}


// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.close-modal{
	@extend .italic;
	background-color: #ba2a2a;
	border-radius: 16px;
	border: none;
	cursor: pointer;
	height: 32px;
	position: absolute;
	left: 50%;
	margin-left: -23px;
	text-align: center;
	width: 46px;
	z-index: 99;
	img{
		margin-top: 2px;
		vertical-align: top;
	}
	&:hover{
		span{
			text-decoration: underline;
		}
	}
	span{
		color: $color4;
	}
}

form{
	.thank{
		color: $color3;
		background-color: $color2;
		border: 1px solid $color4;
		margin-bottom: 3rem;
		padding: 2rem 0;
	}
}

#callback{
	.modal-dialog{
		margin-left: 0;
		margin-right: 0;
		margin-top: 98px;
		padding: 40px 0 12px;
		width: 100%;
	}


	form{
		// background-color: $color2;
		@extend .italic;
		$color: $color12;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		.form-control{
			@extend .bi;
			background-color: $color;
			font-size: 17px;	
			border:1px solid $color;
			color: $color2;
			flex-grow: 1;
			text-align: center;
			width: 100%;
			height: 32px;
			@include placeholder(#fff);
			border-radius: 16px;
		}
		.submit{
			margin-top: 32px;
		}

		.policy{
			margin-top: 1.5rem;
			margin-bottom: 1rem;
		}
	}
}

#about{
	.modal__content{
		.title{
			padding-bottom: .5rem;
			text-transform: uppercase;
		}

		@extend .italic;
		background-color: $color2;
		border: 1px solid $color4;
		color: $color3;
		line-height: 1.7;
		padding: 2rem 1.5rem;
	}
}

.submit:disabled{
	cursor: default !important;
	background-color: #ccc !important;
}
