.manage{
	width: 105px;
}
.order{
	.title{
		font-size: 24px;
		@extend .bold;
		padding-top: 50px;
	}
	&__form{
		background-color: $color15;
		max-width: 100% !important;
		padding-bottom: 30px;
	}
	&__top{
		p{
			margin: 10px 0;
		}
		a{
			@extend .tdn;
			color: #ff3333;
		}
	}
	&__params{
		background: #f2f2f2;
		margin-top: 35px;
		padding-top: 8px;
		padding-bottom: 25px;
	}


	&__row{
		$bgcolor: #808080;
		$h: 33px;
		margin-top: 16px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		select{
			width: 198px;
		}

		.selectric{
			$bg: #808080;
			background: $bg;
			border: none;
			border-radius: 40px;
			width: 210px;
			.label{
				@extend .bi;
				color: $color2;
				font-size: 17px;
				height: 32px;
				line-height: 30px;
				padding-left: 17px;
			}
			.button{
				background: url(../images/select-arrow.png) no-repeat 40% 10px; 
				border-radius: 0 40px 40px 0;
				&:after{
					display: none;
				}
			}
			&-items{
				background: $bg;
				border: none;
				top: 14px;
				padding-top: 18px;
			}
		}
		
		.selectric-items ul, 
		.selectric-items li{
			font-size: 15px;
			@extend .bi;
			color: $color2;
		}
		.selectric-items li{
			padding-left: 25px;
		}

		.plus,
		.minus{
			@extend .bold;
			background-color: $bgcolor;
			border-radius: 20px;
			color: $color2;
			display: inline-block;
			font-size: 30px;
			height: $h;
			line-height: 28px;
			text-align: center;
			text-decoration: none;
			width: 46px;
		}

		.minus{
			margin-left: 8px;
		}
	}

	&_accessories{
		padding: 15px 0;
		&__title{
			@extend .bi;
			color: #808080;
			font-size: 17px;
			padding-right: 145px;
			text-align: right;
		}
		&__body{
			padding-top: 15px;
			.col{
				flex-basis: 33.3%;
				padding-right: 35px;
				.row{
					display: flex;
					align-items: center;
					margin-top: 16px;
					$color:  #b2b2b2;
					.form-control{
						@extend .bi;
						border-radius: 20px;
						border: 1px solid;
						color: $color;
						height: 32px;
						margin-top: 0;
						text-align: center;
						width: 46px;
						&.in{
							color: #c86b28;
							border-color: $color;
							& + label{
								color: #000;
							}
						}
					}
					label{
						@extend .italic;
						color: #666;
						cursor: pointer;
						margin-left: 10px;
						width: 80%;
					}
				}
			}
		}
		.btn{
			margin-left: 20px;
			margin-right: 20px;
			line-height: 38px;
		}
	}

	.file-upload{
		background-position: left -108px;
		&:hover{
			background-position: left -162px;
		}
	}
}