.pricelist{
	.nav{
		margin-top: 70px;
		text-align: center;
		justify-content: center;
		li{
			margin: 0 9px;
		}
	}
	.tab-content{
		margin-top: 35px;
	}

	th{
		@extend .bi;
	}

}
.tooltip{
	margin-top: -22px;
	&-inner{
		padding-right: 8px;
	} 
	img{
		border: 3px solid #336b7a;
		border-radius: 5px;		
	}
	.arrow{
		background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAMCAMAAABoQAyvAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAANlBMVEX///8za3oza3oza3oza3oza3oza3oza3oza3oza3oza3oza3oza3oza3oza3oza3oza3r///8Cdf4+AAAAEHRSTlMAkQbMI/BXmAnRKPRe0vHNF1xLZwAAAAFiS0dEAIgFHUgAAAAHdElNRQfiAQ0XCS3VJrONAAAAMklEQVQI12NgZGKAAAFmFihDgJUNyhAQYOeAMgQ4uaAMAW4eNAYvF4piPqh2fqiBMCsAoDIC9nnaf5QAAAAASUVORK5CYII=") no-repeat left top;
		height: 12px;
		width: 8px;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -20px;
	}
}



