@media (max-width: 1680px){
	.header{
		min-height: 1040px;
	}
}


@media (max-width: 1550px){
	.header{
		min-height: 980px;
	}
}


@media (max-width: 1450px){
	.header{
		min-height: 920px;
	}

	.footer-container{
		width: 1350px;
	}
}



@media (max-width: 1400px){
	.fixed-header .logo a{
		flex-direction: column;
		img:first-child{
			width: 80px;
		}
	}

	.order__row .selectric{
		width: 195px;
	}

	.neck{
		background-position: -200px top;
	}
}


@media (max-width: 1366px){
	.header{
		min-height: 890px;
		.timer{
			margin-bottom: 40px;
		}
	}
	.effect-bgslidefromleft:before{
		transform: translateX(-15%)
	}

	.effect-bgslidefromright:before{
		transform: translateX(15%)
	}

	.footer-container{
		width: 1240px;
	}
}



@media (max-width: 1265px){
	.footer-container{
		width: 1200px;
	}

	.subscribe{
		margin-left: -155px;
	}
}

@media (max-width: 1220px){
	.footer-container{
		width: 1150px;
	}
}


@media (max-width: 1199px){
	.fixed-header{
		.logo a{
			width: 150px;
			img:last-child{
				width: 100%;
			}
		}
		.contacts .btn{
			font-size: 15px;
		}
	}


	#navbar2 ul li{
		margin-left: 10px;
	}

	.effect{
		padding-top: 50px !important;
		&:before{
			display: none !important;
		}
	}


	.feedback{
		&__form{
			.row{
				input.form-control{
					width: 280px;
				}
			}
		}
	}



	footer{
		background-size: contain;
		height: auto;
	}
	.footer{
		&__top{
			flex-wrap: wrap;
		}
		&__logosocial{
			margin-top: 45px;
			width: 100%;
		}
		&-container{
			width: calc(100% - 20px);
		}
	}


	.order__row .selectric{
		width: 162px;
	}

	.neck{
		background-position: -385px top;
	}
}

@media (max-width: 1160px){
	.header .cats{
		color: $color1;
		.cat__title:before{
			filter: invert(1)
		}
	}
}


@media (max-width: 1100px){
	.subscribe{
		left: auto;
		right: 50px;
		width: 570px;
	}
}



@media (max-width: 1040px){
	.header{
		.logo{
			width: 35%;
		}
	}

	.subscribe{
		padding-left: 20px;
		padding-right: 20px;
		width: 500px;
	}
}

@media (max-width: 1024px){
}

@media (max-width: 991px){
	.title{
		font-size: 50px;
	}

	.header .logo{
		padding-top: 35px;
		&__link{
			width: 100%;
		}
	}

	.fixed-header{
		.container{
			margin: 0;
			padding: 0 15px;  
			width: 100%;
		}
	}

	h1{
		font-size: 50px;
	}

	.main{
		margin-top: 50px;
	}



// ////////////////////
.header{margin-bottom: 0;}
	.neck{
		display: none;
	}

	.main__body{
		margin-top: 0;
	}

	.inner .header{
		min-height: 0
	}
}


@media (max-width: 950px){
	.subscribe{
		right: 20px;
		width: 450px;
	}
}

@media (max-width: 930px){
	.header{
		&__top{
			display: block;
		}
		.logo{
			margin-left: auto;
			margin-right: auto;
			width: 357px;
		}
	}

	nav ul{
		justify-content: center;
	}
}


@media (max-width: 900px){
	.fixed-header{
		display: none !important;
	}
	.subscribe{
		margin-left: auto;
		margin-right: auto;
		position: static;
	}

	.footer{
		&__top{
			display: block;
		}
		&__logo{
			justify-content: center;
			&:after{
				right: 0;
			}
		}
		&__contacts{
			margin-left: auto;
			margin-right: auto;
			width: 450px;
		}

		&__logosocial{
			display: block;
		}

		&__social{
			margin-top: 50px;
		}
		&__social_inner .icons{
			justify-content: center;
			margin-left: 0;
		}
	}
}


@media (max-width: 820px){
	.header .cats ul{
		justify-content: center;
		li{
			margin-bottom: 10px;
			width: 100%;
		}
	}
}


@media (max-width: 800px){
	.header{
		.logo{
			width: 220px;
			img{
				width: 100%;
			}
		}
		nav{
			padding-top: 40px;
		}

		.contacts{
			padding-top: 30px;
		}
	}
}

@media (max-width: 790px){
	.address__panel{
		margin-left: -330px;
	}

	.map-wrapper{
		$h: 300px;
		height: $h;
		#map{
			height: $h;
		}
	}
}

@media (max-width: 768px){
	.title{
		font-size: 40px;
	}
	.footer{
		&__top{
			margin-bottom: 20px;
		}
		&__bottom{
			display: block;
			text-align: center;
		}
		&__copyright{

		}

		.kreotif{
			color: $color3;
			text-align: center !important;
			margin-top: 20px;
			padding-right: 0px;
		}
	}
}


@media (max-width: 767px){
	.header{
		.logo{
			padding-top: 8px;
		}
		.contacts{
			padding-top: 15px;
		}
	}

	.main{
		text-align: justify;
		h1{
			font-size: 38px;
			text-align: center;
		}
	}

	.about_advantages h1{
		margin-bottom: 20px;
	}

	footer{
		padding-top: 40px;
	}

	.inner{
		.header{
			min-height: 0;
			margin-bottom: 0;
		}
	}

	.main__body{
		margin-top: 0;
	}

	.header-right{
		display: block;
		text-align: center !important;
		h1{
			text-align: center !important;
		}
	}
}


@media (max-width: 400px){
	.footer{
		&__logo{
			display: none;
		}
		&__social{
			background: none;
			height: auto;
			margin-bottom: 20px;
			&_inner{
				background: none;
				p{
					margin-bottom: 10px;
					position: static;
					text-align: center;
				}
				.icons{
					display: block;
					text-align: center;
				}
			}
		}
	}
}

@media (max-width: 320px){
	.main h1{
		font-size: 34px;
	}
}
