@media (max-width: 1800px){
	.header .cats .popup{
		left: 155px;
	}
}


@media (max-width: 1680px){
	.header .cats .popup{
		left: 100px;
	}
}


@media (max-width: 1500px){
	.header .cats .popup{
		left: 20px;
	}
}


@media (max-width: 1460px){
	.header .cats .container{
		width: 1200px;
	}
}

@media (max-width: 1399px){
	.products{
		&__cell{
			width: 90%;
			img{
				width: 100%;
				height: auto;
			}
		}
		&__title{
			font-size: 24px;
			width: 100%;
		}
		&__link{
			&:after{
				right: -21px;
			}
		}

		&__inner{
			.shape{
				bottom: -5px;
				right: 35px;
			}
		}
	}
}

@media (max-width: 1366px){
	.header .cats{
		.container{
			width: 1100px;
		}
		.cat__title{
			font-size: 21px;
		}
	}

	.header .cats li.c03 .popup:after{
		left: -115px;
	}

	.header .cats .popup{
		width: 1100px;
	}
}


@media (max-width: 1220px){
	.header .cats{
		ul{
			li{
				flex-basis: 33.3%;
			}
		}
		.popup{
			width: 1000px;
			.carousel{
				width: 90%;
			}
		}
	}
}

@media (max-width: 1199px){
	.header .cats {
		.container{
			width: 100%;
		}
		li .cat__title{
			padding-left: 100px;
			&:before{
				background-size: contain;
				width: 90px;
			}
		}
	}


	.timer{
		.str1{
			font-size: 20px;
		}
		.str2{
			font-size: 30px;
		}
		&__text{
			background-size: contain;
			height: auto;
		}
	}

	.advantages{
		display: none;
	}


	.products{
		&__title{
			height: 328px;
		}
	}

	.homepage{
		.reviews,
		.brands{
			margin-top: 0;
		}
	}

	.brands{
		&__cell{
			width: 50%;
			margin-bottom: 50px;
		}
	}

	.intro .tab-content{
		width: auto;
	}

	.sertificats{
		.item{
			width: 23.5%;
			img{
				max-width: 100%;
			}
		}
		.tab-pane .flexbox{
			justify-content: space-between;
		}
	}
}


@media (max-width: 1160px){
	.header .cats{
		.popup{
			color: $color2;
			width: 100%;
		}
	}

	.insert .box{
		height: auto;
		background: none;
		padding: 10px 0;
		width: 95%;
		text-align: center;
	}
}


@media (max-width: 1100px){
	.inner .text .owl-carousel, 
	.inner main .owl-carousel{
		width: 95%;
	}
}


@media (max-width: 1040px){
	.header{
		.container{
			width: 100%;
		}

		.timer{
			align-items: center;
			flex-flow: column;
			margin-top: 20px;
			&__text{
				height: 158px;
			}
			&__digit{
				margin-top: 25px;
			}
		}
	}
	nav{
		ul{
			li{
				.subnav{
					display: none;
				}
				&:hover{
					.subnav{
						display: block;
					}
				}
			}
		}	
	}


	.order__row > div{
		margin-right: 10px;
	}
	.order__params{
		overflow-x: auto;  
		width: 100%;
		.container{
			width: auto;
		}
	}
	.order_accessories__title{
		padding-right: 0;
	}

	.manage{
		flex-shrink: 0;
	}
}



@media (max-width: 991px){
	.header .cats{
		ul{
			flex-wrap: wrap;
			li{
				flex-basis: 50%;
			}
		}
		.cat{
			&__title{
				margin-left: auto;
				margin-right: auto;
				width: 345px;
			}
		}
	}

	.products__title{
		font-size: 21px;
		height: 252px;
	}

	.articles{
		&__cell{
			width: 48%;
		}
	}

	.reviews{
		.flexbox{
			display: block;
		}
		.btn{
			margin-left: 0;
		}
	}

	.address__panel{
		margin-left: -385px;
	}

	.feedback__form .row input.form-control{
		width: 220px;
	}

	.brands{
		.flexbox{
			margin-bottom: 0;
		}

		.text{
			margin: 30px 0;
		}
	}

	.articles header{
		margin-bottom: 25px;
	}

	.video__list{
		width: 100%;
		.row .image img{
			width: 100%;
		}
	}


	.about_advantages{
		margin-top: 0;
		h1{
			font-size: 40px;
		}
	}


	.address{
		.address__info, 
		.btn-groups{
			width: 100%;
		}
		&-page .flexbox{
			justify-content: center;
		}
	}

	.pricelist .nav{
		display: block;
		margin-top: 20px;
		.btn{
			min-width: 300px;
			margin: 10px 0;
		}
	}
}


@media (max-width: 950px){
	.address{
		.title{
			text-align: center !important;
		}
		.flexbox{
			flex-wrap: wrap;
			.btn{
				margin-bottom: 10px;
				min-width: 250px;
			}
		}
	}
}


@media (max-width: 820px){
	.inner .text .owl-carousel,
	.inner main .owl-carousel{
		width: 550px;
	}
}


@media (max-width: 800px){
	.map-wrapper{
		height: auto;
		margin-top: 10px;
	}
	.address__panel{
		margin: 0 auto 15px;
		position: static;
		transform: translateY(0);
		width: 70%;
		text-align: center;
	}
}


@media (max-width: 768px){
	.title{
		text-align: center;
	}
	.intro{
		&__body{
			header{
				text-align: center;				
			}
			.nav{
				justify-content: center !important
			}
		}
	}

	.products{
		.flexbox{
			display: block;
		}
		&__width{
			margin-left: auto;
			margin-right: auto;
			width: 328px;
		}

		.title{
			margin-bottom: 40px;
		}

		&__title{
			height: 340px;
			font-size: 24px;
		}

		&__cell{
			margin-bottom: 40px;
		}

		&__text{
			text-align: justify;
		}

		.btn{
			margin-left: auto;
			margin-right: auto;
			display: block;
			width: 240px;
		}
	}

	.brands,
	.reviews{
		.btn{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 280px;
		}
	}

	.reviews .flexbox{
		margin-bottom: 40px;
	}

	.address .flexbox{
		margin-top: 20px;
	}

	.subscribe,
	.footer__contacts
	{
		width: 90%;
	}


	.sertificats h1,
	.main main h1{
		margin-bottom: 20px;
	}

	.neck{
		padding-left: 0;
		padding-top: 15px;
	}
}



@media (max-width: 750px){
	.feedback__form .row{
		display: block;
		input.form-control,
		textarea{
			display: block;
			width: 100%;
		}

		#msg{
			width: 100%;
		}
		textarea{
			height: 100px;
		}

		.file-upload{
			bottom: 4px;
		}
	}

	.address-page .flexbox{
		display: block;
		text-align: center;
		.cell{
			margin-bottom: 10px;
		}
	}
}


@media (max-width: 700px){
	.header .timer__text{
		height: 120px;
	}
	.timer__text{
		width: 100%;
	}

	.order_accessories__title{
		text-align: center;
	}
}



@media (max-width: 675px){
	.sertificats{
		.nav-tabs{
			align-items: center;
			display: flex;
			margin-right: 0;
			flex-direction: column;
			li{
				margin-left: 0;
				margin-bottom: 10px;
				.btn{
					min-width: 300px;
				}
			}
		}

		.flexbox{
			flex-wrap: wrap;
		}
		.item{
			margin-bottom: 20px;
			width: 47%;
		}
	}

	.inner .text .owl-carousel,
	.inner main .owl-carousel{
		width: 450px;
	}
}


@media (max-width: 665px){
	.timer__text{
		padding-left: 5px;
		padding-right: 80px;
	}
	.articles{
		header{
			margin-bottom: 0;
		}
		&__cell{
			width: 100%;
		}
		&__link{
			margin-left: auto;
			margin-right: auto;
		}

		.text-right{
			text-align: center;
		}
	}

	.video__list .row{
		display: block;
		text-align: center;
	}
}



@media (max-width: 620px){
	.header{
		.container{
			padding: 0;
		}
		.timer__text{
			width: 510px;
		}
	}

	.address .flexbox{
		display: block;
		.btn{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 75%;
		}
	}

	.brands{
		&__cell{
			width: 100%;
		}
	}

	.order_accessories{
		.btn{
			display: block;
			margin: 10px auto;
			width: 300px;
		}
	}


}



@media (max-width: 590px){
	.inner .text .owl-carousel,
	.inner main .owl-carousel{
		width: 400px;
	}

	.text,
	main{
		h2{
			text-align: center;
		}
		.text-right{
			text-align: center;
		}

		iframe{
			width: 100% !important;
		}
	}
}


@media (max-width: 530px){
	.header{
		display: block;
		width: 95%;
		.timer__text{
			padding-right: 40px;
			width: 100%;

			.str1,
			.str2{
				font-size: 16px;
			}
		}
	}

	.subscribe{
		padding: 20px;
		.flexbox{
			display: block;
		}
		input.form-control{
			width: 100%;
		}

		input[type="submit"]{
			margin-top: 10px;
			width: 100%;
		}
	}

	.footer__logo{
		padding-right: 120px;
	}

	.inner .text .owl-carousel,
	.inner main .owl-carousel{
		width: 300px;
	}
}



@media (max-width: 450px){
	.title{
		font-size: 34px;
	}
	.timer__digit{
		span:first-child{
			margin-left: 0;
		}
	}

	.footer__contacts{
		height: auto;
		text-align: center;
		.flexbox{
			display: block;
		}
		.column{
		}
	}
	.header .timer__digit{
		overflow: hidden;
		transform: scale(.8)
	}

	.ya-share2 li{
		margin-bottom: .5rem !important;
	}

	#inline-order{
		left: -12px;
		transform: scale(.7);
	}
}



@media (max-width: 430px){
	.sertificats{
		.item{
			text-align: center;
			width: 100%;
		}
	}

	.inner .text, 
	.inner main{
		.owl-carousel .owl-nav{
			display: none !important;
		}
	}
}


@media (max-width: 400px){
	.address{
		.flexbox .btn{
			width: 100%;
		}
		&__panel{
			width: 90%;
		}
	}
	

	.reviews{
		&__item{
			padding-left: 30px;
		}
		&__text{
			text-align: justify;
		}
	}

	footer{
		padding-top: 50px;
	}
}



@media (max-width: 375px){
	.header .cats .cat__title{
		width: 100%;
	}

	.main main h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
}



@media (max-width: 350px){
	.address{
		margin-top: 30px;
	}
	
	.intro__body .nav{
		display: block;
	}
	.intro__nav li{
		display: block;
		text-align: center;
		.btn{
			margin: 0 auto 10px;
			width: 90%;
		}
	}

	.text-right{
		text-align: center !important;
		.btn{
			margin-right: 0;
			width: 80%;
		}
	}

	.intro .tab-content{
		text-align: justify;
	}
	.feedback .title{
		font-size: 20px;
	}

	.products__cell{
		width: 85%;
	}

	.header .cats ul li{
		flex-basis: 100%;
	}

	.effect{
		padding-top: 0 !important;
	}

	.text{
		text-align: justify;
	}

	.pricelist .nav{
		li{
			margin-left: 0;
			margin-right: 0;
		}
		.btn{
			font-size: 16px;
			margin: 5px 0;
			min-width: 270px;
			padding-top: 8px;
		}
	}
}

@media (max-width: 330px){
	.header .timer__digit{
		transform: scale(.7)
	}

	.header .cats .cat__title{
		font-size: 18px;
	}

	.products .title{
		margin-bottom: 20px;
		padding-right: 0;
		font-size: 26px;
	}

	.reviews{
		&__item{
			font-size: 14px;
		}
		&__text{
			line-height: 1.3;
		}
	}

	.faq__title{
		text-align: left;
	}
}